<h1>Service Providers</h1>

<p *ngIf="!isLoaded"><em>Loading...</em></p>

<p *ngIf="isLoaded && serviceProviders.length == 0"><em>No Service Providers registered yet...</em></p>

<div *ngIf="isLoaded && serviceProviders.length > 0">
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let serviceProvider of serviceProviders">
        <td>{{ serviceProvider.id }}</td>
        <td>{{ serviceProvider.description }}</td>
        <td><a class="nav-link text-dark" [routerLink]='["/sp", serviceProvider.id]'>Go to</a></td>
      </tr>
    </tbody>
  </table>
</div>
