<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'><img src="./images/logo O10 red.png" width="100px"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <app-login-menu></app-login-menu>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isAuthenticated && !isAdmin">
            <a class="nav-link text-dark" [routerLink]='["/scenarioList"]'><strong>Scenarios</strong></a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isAuthenticated">
            <a class="nav-link text-dark" [routerLink]='["/accounts"]'>Accounts</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isAdmin">
            <a class="nav-link text-dark" [routerLink]='["/register"]'>Register</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isAuthenticated">
            <a class="nav-link text-dark" [routerLink]='["/identityProviders"]'>Identity Providers</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isAuthenticated">
            <a class="nav-link text-dark" [routerLink]='["/serviceProviders"]'>Service Providers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
