.user-component_qrcode-button {

}

.user-component-container {
  border: 1px solid gray;
  padding: 20px;
  background: aliceblue
}

.user-component-container-mobile {
  border: 1px solid gray;
  padding: 5px;
  background: aliceblue
}
