<h1>Requesting Digital Identity for {{ pageTitle }}</h1>

<div class="form-group" *ngIf="isCameraAvailable && showWebcam">
  <button [ngClass]="{'btn':true, 'btn-primary':skipCamera}" (click)="onToggleCamera()" type="button">{{toggleCameraText}}</button>
</div>

<div *ngIf="!isError">
  <div *ngIf="!skipCamera && isCameraAvailable && showWebcam" style="border-width: 1px; border-style: solid; border-color: darkgrey; margin-bottom: 10px; padding: 10px; display: inline-flex">
    <div *ngIf="!webcamImage">
      <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
              [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
              [videoOptions]="videoOptions"
              [imageQuality]="1"
              (cameraSwitched)="cameraWasSwitched($event)"
              (initError)="handleInitError($event)"></webcam>
      <br />
      <button class="btn btn-primary" (click)="triggerSnapshot();">Take A Snapshot</button>
    </div>
    <div class="snapshot" *ngIf="webcamImage">
      <div>
        <img [src]="webcamImage.imageAsDataUrl" width="500px" />
      </div>
      <button class="btn btn-primary" (click)="clearSnapshot();" style="margin-top: 10px">Clear Snapshot</button>
    </div>

    <h4 *ngIf="errors.length > 0">Messages:</h4>
    <ul *ngFor="let error of errors">
      <li>{{error | json}}</li>
    </ul>
  </div>

  <form [formGroup]="requestIdentityForm" (ngSubmit)="onSubmitSending()">
    <div class="form-group">
      <label for="idCard">ID Card Number</label>
      <input formControlName="idCard" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && formData.idCard.errors }" />
      <div *ngIf="submitted && formData.idCard.errors" class="invalid-feedback">
        <div *ngIf="formData.idCard.errors.required">Value is mandatory</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formData.password.errors }" />
      <div *ngIf="submitted && formData.password.errors" class="invalid-feedback">
        <div *ngIf="formData.password.errors.required">Value is mandatory</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="submitClick" class="btn btn-primary" type="submit" style="margin-right:10px">Send Request</button>
      <button [disabled]="submitClick" class="btn" (click)="onCancel()" type="reset">Cancel</button>
    </div>
  </form>
</div>
<div *ngIf="isError" class="alert alert-danger">
  <p>{{errorMsg}}</p>
  <button class="btn" (click)="onCancel()">OK</button>
</div>
